input{
  height: fit-content;
}

img{
  background-color: black;
}

.user-menu{
 display:  flex;
 justify-content: center;
 align-items: center;
}

header{
  display: flex;
  justify-content: space-between;
  align-self: center;
  background-color: #1A1A1A;
  color: white; 
}

table {
  width: 1211px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: justify;
}

th {
  background-color: #F7F7F7;
  color: #616161;
  
}

tr {
  border-bottom: 1px solid lightgrey; 
}

.progress-bar{
  width: 5cm;
  height: 10px;
  border-radius:5px;
  background-color:#EBEBEB;
}

.progress{
  width: 50%;
  height: 10px;
  border-radius:5px;
  background-color: green;
}